<div class="px-8 py-24 w-full bg-white rounded-lg flex flex-col items-center">
  <p class="text-center">
    日記がありません。<br />
    さっそく今日の日記を書いてみましょう！
  </p>
  <%= image_tag 'pomeranian.png', class: 'h-40 w-40' %>
</div>