<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow bg-pale-beige items-center justify-center w-full h-full px-4">
  <div class="flex flex-row justify-center items-center sm:mt-10 mt-5">
    <h1 class="sm:text-2xl text-lg text-center inline tracking-wider">日記編集</h1>
    <%= image_tag 'diary.png', class: 'sm:h-24 h-14 sm:w-24 h-14 bg-cover' %>
  </div>

  <div class="container mx-auto mt-2 mb-24">
    <%= render "form", diary: @diary %>
    <div class="flex flex-row justify-end mt-24 w-full">
      <div>
        <%= link_to t('link.show_diary'), @diary, class: "text-terracotta link link-hover" %>
      </div>
    </div>
  </div>
</div>
