<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow bg-pale-beige items-center justify-center w-full h-full">
  <div class="flex flex-row justify-center">
    <h1 class="text-2xl mt-10 text-center inline tracking-wider">今日の日記を作成</h1>
    <%= image_tag 'diary.png', class: 'h-24 w-24 bg-cover' %>
  </div>

  <div class="container mx-auto mt-2 mb-24">
    <%= render "form", diary: @diary %>
  </div>
</div>
