<% flash.each do |message_type, message| %>
  <% if message_type == 'error' %>
    <section class="items-center py-12">
      <div class="w-full text-red-600 border rounded-lg shadow-xl bg-white">
        <div class="flex items-center justify-between py-4 px-8 mx-auto">
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 icon icon-tabler icon-tabler-alert-triangle" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="12" r="9"></circle>
              <line x1="12" y1="8" x2="12.01" y2="8"></line>
              <polyline points="11 12 12 12 12 16 13 16"></polyline>
            </svg>
            <p class="text-sm font-semibold tracking-wide uppercase">
              <strong>Error:</strong><%= message %></p>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <section class="items-center py-12">
      <div class="w-full text-blue-600 border rounded-lg shadow-xl bg-white">
        <div class="flex items-center justify-between py-4 px-8 mx-auto">
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 icon icon-tabler icon-tabler-alert-triangle" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="12" r="9"></circle>
              <line x1="12" y1="8" x2="12.01" y2="8"></line>
              <polyline points="11 12 12 12 12 16 13 16"></polyline>
            </svg>
            <p class="text-sm font-semibold tracking-wide uppercase">
              <strong>Success:</strong> <%= message %></p>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% end %>