<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <nav class="flex space-x-4">
    <%= link_to t('footer.terms'), terms_path, class: 'link link-hover' %>
    <%= link_to t('footer.privacy'), privacy_policy_path, class: 'link link-hover' %>
    <%= link_to t('footer.contact'), 'https://x.gd/LC3mU', class: 'link link-hover' %>
  </nav>
  <aside>
    <p>© 2023 illumi-diary</p>
  </aside>
</footer>