<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <nav class="flex space-x-4">
    <%= link_to '利用規約', '#', class: 'link link-hover' %>
    <%= link_to 'プライバシーポリシー', '#', class: 'link link-hover' %>
    <%= link_to 'お問い合わせ', '#', class: 'link link-hover' %>
  </nav>
  <aside>
    <p>© 2023 illumi-diary</p>
  </aside>
</footer>