<header class="bg-pale-beige">
  <nav class="navbar px-14">
    <div class="flex-1">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class:"w-25 h-10" %>
      <% end %>
    </div>

    <% unless current_page?(login_path) %>
      <div class="flex-none">
        <%= button_to t('header.login'), login_path, class: 'btn secondary-button px-4 py-2 cursor-pointer', method: :get %>
      </div>
    <% end %>
  </nav>
</header>