@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-button {
  color: #fff;
  background-color: #e16433;
}

.primary-button:hover {
  background-color: #e87649;
  cursor: pointer;
}

.secondary-button {
  color: #fff;
  background-color: #e16433;
}

.secondary-button:hover {
  color: #e16433;
  background: none;
  border: 1px solid #e16433;
}

.secondary-reverse-button {
  color: #e16433;
  background: none;
  border: 1px solid #e16433;
}

.secondary-reverse-button:hover {
  background-color: #e16433;
  color: #fff;
}

.cancel-button {
  color: #fff;
  background-color: #3f3f46;
}

.cancel-button:hover {
  background-color: #5f5f66;
  cursor: pointer;
}